* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  
  background:  hsl(210, 36%, 96%);
  color:  hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing:  0.25rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color:  hsl(210, 22%, 49%);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: 0.25;
  display: inline-block;
  transition: all 0.3s linear;
  font-size: 0.875rem;
  border: 2px solid black;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}
.btn:hover {
  color: #fff;
  background:black;
}
/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 5rem auto;
  max-width: 1170px;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
/* Countdown Timer */
.gift-img {
  margin-bottom: 2rem;
}
.gift-info h3 {
  text-transform: uppercase;
  color:  hsl(205, 72%, 37%);
}
.gift-info p {
  color: hsl(209, 23%, 60%);
}
.date {
  color: hsl(210, 22%, 49%);
  font-size: 0.85rem;
}
@media screen and (min-width: 992px) {
  .section-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 3rem;
    width: 95vw;
  }
  .gift-img {
    margin-bottom: 0;
  }
}
.gift-info p {
  margin: 2rem 0;
}
.deadline {
  display: flex;
}
.deadline-format {
  background:  hsl(209, 61%, 16%);
  color: #fff;
  margin-right: 1rem;
  width: 5rem;
  height: 5rem;
  display: grid;
  place-items: center;
  text-align: center;
}
.deadline-format span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}
.deadline h4:not(.expired) {
  font-size: 2rem;
  margin-bottom: 0.25rem;
  letter-spacing: 0.25rem;
}
